[Desktop Entry]
Version=1.0
Name=Archfch
Type=Application
Comment=arch linux configuration script
Terminal=true
Exec=su -c archcfg
Icon=terminal
Categories=ConsoleOnly;System;
GenericName=Archfch
