[Desktop Entry]
Version=1.0
Name=Archfcg
Type=Application
Comment=arch linux configuration script
Terminal=true
Exec="su -c  /home/simke/Dev/archcfg/archcfg-mod-dev.sh"
Icon=terminal
Categories=ConsoleOnly;System;
GenericName=Archfch
